#pass1 {
    position: absolute;
    right: 30px;
    transform: translate(0, -5%);
    top: 200px;
    cursor: pointer;
}

#pass2 {
    position: absolute;
    right: 30px;
    transform: translate(0, -5%);
    top: 285px;
    cursor: pointer;
}