#fitur {
  position: absolute;
  right: 80px;
  transform: translate(0, -5%);
  top: 42%;
  cursor: pointer;
}

#fitur1 {
  position: absolute;
  right: 80px;
  transform: translate(0, -5%);
  top: 40.3%;
  cursor: pointer;
}

#fitur2 {
  position: absolute;
  right: 80px;
  transform: translate(0, -5%);
  top: 40.3%;
  cursor: pointer;
}

#fitur3 {
  position: absolute;
  right: 80px;
  transform: translate(0, -5%);
  top: 40.3%;
  cursor: pointer;
}

#fitur4 {
  position: absolute;
  right: 80px;
  transform: translate(0, -5%);
  top: 40.3%;
  cursor: pointer;
}